.cartitems {
  margin: 100px 170px;
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitems-formet-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr repeat(4, 1fr);
  align-items: center;
  gap: 75px;
  padding: 20px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartitems-formet {
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon {
  height: 62px;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}

.cartitems-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}

.cartitems-down {
  display: flex;
  margin: 100px 0;
}

.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.cartitems-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.cartitems-promocode p {
  color: #555;
}

.cartitems-promobox {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
}

.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}

.cartitems-promobox button {
  background: black;
  font-size: 16px;
  width: 170px;
  height: 58px;
  color: white;
  cursor: pointer;
}

/* Media Queries for responsiveness */

/* For tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .cartitems {
    margin: 50px 50px;
  }

  .cartitems-formet-main {
    grid-template-columns: 0.5fr 2fr repeat(3, 1fr);
    /* 3 columns for smaller screens */
    gap: 50px;
  }

  .cartitems-down {
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
  }

  .cartitems-total {
    margin-right: 0;
  }

  .cartitems-promobox {
    width: 100%;
  }
}

/* For smaller tablets and large phones (max-width: 768px) */
@media (max-width: 768px) {
  .cartitems-formet-main {
    grid-template-columns: 0.5fr 1fr repeat(3, 1fr);
    /* 3 columns, adjust for small screens */
    gap: 30px;
  }

  .cartitems-quantity {
    width: 50px;
    height: 40px;
  }

  .cartitems-down {
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  }

  .cartitems-total {
    margin-right: 0;
  }

  .cartitems-promobox input {
    width: 250px;
  }

  .cartitems-promobox button {
    width: 120px;
  }
}

/* For mobile (max-width: 480px) */
@media (max-width: 480px) {
  .cartitems-formet-main {
    grid-template-columns: 1fr;
    /* 1 column layout for mobile */
    gap: 20px;
  }

  .cartitems-remove-icon {
    width: 12px;
    margin: 0 20px;
  }

  .cartitems-total {
    margin-right: 0;
  }

  .cartitems-promobox input {
    width: 80%;
  }

  .cartitems-promobox input {
    width: 250px;
  }

  .cartitems-promobox button {
    width: 120px;
  }

  .cartitems h1 {
    font-size: 28px;
  }
}
