.news-letter {
    width: 65%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 40px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    gap: 30px;
}

.news-letter h1 {
    color: #454545;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.news-letter p {
    color: #454545;
    font-size: 20px;
}

.news-letter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 52px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
    padding: 0 20px;
}

.news-letter input {
    width: 500px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.news-letter div button {
    width: 210px;
    height: 52px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 900px) {
    .news-letter {
        width: 80%;
    }

    .news-letter div {
        width: 100%;
        gap: 10px;
    }

    .news-letter input {
        width: 70%;
        font-size: 14px;
    }

    .news-letter div button {
        width: 30%;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .news-letter {
        width: 90%;
        height: auto;
    }

    .news-letter h1 {
        font-size: 28px;
    }

    .news-letter p {
        font-size: 16px;
    }

    .news-letter div {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .news-letter input {
        width: 80%;
        margin-bottom: 15px;
    }

    .news-letter div button {
        width: 80%;
        font-size: 16px;
    }
}
