.loginsignup{
    background: #fce3fe;
    min-height: 100vh;
    width: 100%;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
}
.loginsignup-container{
    background: white;
    min-height: 600px;
    margin: auto;
    padding: 40px 96px;
}
.loginsignup-container h1{
    text-align: center;
    margin: 20px 0;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 52px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    width: 100%;
    height: 52px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}
.loginsignup-login span{
    text-decoration: underline;
    font-weight: 600;
    color: #ff4141;
    cursor: pointer;
}
.loginsignup-agree{
    display: flex;
    gap: 12px;
    margin-top: 20px;
    align-items: center;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}
.loginsignup-agree input:hover{
    transform: scale(1.2);
    cursor: pointer;
}