.item {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.item p {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.item-prices {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item-price-new {
    color: #374151;
    font-size: 16px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
}