.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo img {
  width: 80px;
}

.footer-logo p {
  color: #383838;
  font-size: 38px;
  font-weight: 600;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 16px;
}

.footer-links li {
  cursor: pointer;
}

.footer-links li:hover {
  color: #e30202d3;
}

.footer-social-icon {
  display: flex;
  gap: 20px;
}

.footer-icons-container {
  padding: 10px;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

.footer-icons-container img {
  width: 24px;
}

.footer-icons-container img:hover {
  transform: scale(1.09);
  transition: all 0.3s ease;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 14px;
}

.footer-copyright hr {
  width: 80%;
  height: 3px;
  border: none;
  border-radius: 10px;
  background-color: #c7c7c7;
}

/* Responsive Design */
@media (max-width: 900px) {
  .footer {
    gap: 30px;
  }

  .footer-links {
    gap: 30px;
    font-size: 14px;
  }

  .footer-logo p {
    font-size: 30px;
  }

  .footer-icons-container img {
    width: 20px;
  }
}

@media (max-width: 600px) {
  .footer {
    gap: 20px;
    padding: 0 20px;
  }

  .footer-logo {
    flex-direction: column;
    gap: 10px;
  }

  .footer-logo p {
    font-size: 24px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 14px;
  }

  .footer-social-icon {
    flex-direction: row;
    gap: 10px;
  }

  .footer-icons-container {
    padding: 8px;
  }

  .footer-icons-container img {
    width: 20px;
  }

  .footer-copyright {
    font-size: 12px;
    gap: 10px;
  }

  .footer-copyright hr {
    width: 90%;
  }
}
