* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
