.offers {
    width: 90%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 100px auto;
    padding: 40px 20px;
    border-radius: 12px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.offers-left h1 {
    color: #171717;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1;
}

.offers-left p {
    color: #171717;
    font-size: 18px;
    font-weight: 500;
}

.offers-left button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.offers-left button:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.321);
    transform: scale(1.01);
    transition: all 0.3s ease;
}

.offers-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.offers-right img {
    width: 250px;
    max-width: 100%;
}

/* ---------- Responsive Design ---------- */
@media (max-width: 768px) {
    .offers {
        flex-direction: column;
        text-align: center;
        padding: 30px 10px;
        margin-bottom: 70px;
    }

    .offers-left {
        align-items: center;
        padding: 10px;
    }

    .offers-left h1 {
        font-size: 32px;
    }

    .offers-left p {
        font-size: 16px;
    }

    .offers-left button {
        width: 180px;
        height: 45px;
        font-size: 14px;
    }

    .offers-right img {
        width: 200px;
        margin-top: 20px;
    }
}